.service-text {
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  color: white;
  letter-spacing: 0.1rem;
}
.home-display-header{
  margin-bottom: 10px;
}
#space{
  padding-top: 70px;
}
@media (max-width: 768px) {
  #space{
    padding-top: 10px;
  }
}